* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    top: 0;
    border-bottom-style: solid;
    border-bottom: rgb(15, 107, 98);
}

.fio {
    display: flex;
    justify-content: left;
    color: black;
    margin-left: 15px;
    font-size: 18px;
    font-family: 'Oswald';
}

.labs {
    display: flex;
    margin-right: 15px;
    font-size: 16px;
}

.lab {
    display: flex;
    padding: 0 10px;
    font-size: 18px;
    font-family: 'Oswald';
}

.main {
    width: 100%;
}

.sec_1 {
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    background-color: cadetblue;
    margin: 0;
    margin-top: -64px;
    padding-top: 64px;
    background-clip: content-box;
}

.sec_2 {
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    background-color: rgb(114, 176, 179);
    margin: 0;
    margin-top: -64px;
    padding-top: 64px;
    background-clip: content-box;
}

main {
    margin-top: 64px;
}

h4 {
    font-size: 28px;
    text-align: center;
    padding: 15px;
    font-family: 'Oswald';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline black;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    width: 100%;
    height: 70px;
    align-items: center;
}

.git {
    display: flex;
    height: 55px;
    width: 55px;
    padding-right: 15px;
}

.gmail {
    display: flex;
    height: 55px;
    width: 65px;
    padding-right: 0;
}

.up {
    display: flex;
    height: 55px;
    width: 55px;
    padding-right: 30px;
}

.left_footer {
    display: flex;
    align-items: center;
    width: 145px;
    height: 70px;
    padding-left: 20px;
}